@charset "UTF-8";
<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .movie-rankings {
        display: flex;
        gap: 20px;
    }

    .movie-rank {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie-rank img {
        width: 150px; /* 영화 포스터 이미지의 너비를 조절 */
        height: auto;
    }
</style>
